.base-container {
  background: #fffeec;
  font-family: "Arial", sans-serif;
  color: #145a5f;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    margin: 1rem 6rem;
    flex-grow: 1;
  }

  .footer {
    flex: 0 1 40px;
    position: relative;
  }

  @media (max-width: 600px) {
    .content {
      flex-direction: column;
      align-items: center;
    }
  }
}
