.about-page {
  background: #fffeec;
  font-family: "Arial", sans-serif;
  color: #145a5f;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    gap: 2rem;
    max-width: 900px;
    margin: 50px auto;
    flex-grow: 1;

    .profile-picture {
      flex: 0 0 250px;

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(20, 90, 95, 0.3);
      }
    }

    .profile-text {
      flex: 1;
      font-size: 1.1rem;
      line-height: 1.6;
    }
  }

  .footer {
    flex: 0 1 40px;
    position: relative;
  }

  @media (max-width: 600px) {
    .content {
      flex-direction: column;
      align-items: center;

      .profile-picture {
        flex: 0 0 auto;
        width: 150px;
      }

      .profile-text {
        text-align: center;
      }
    }
  }
}
