.pop-up {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 90%;
  z-index: 99;
  background: white;
  border: black solid 1px;

  .pop-up-title {
    font-size: 20px;
  }

  .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  img {
    height: inherit;
  }
}
