.list-entry{
	display: flex;
	padding: 20px 120px;
	
	.image, .details{
		float: left;
		width: 40%;
		padding-right: 70px;
		text-align: left;
		line-height: 60px;
		
		img{
			width: 100%;
		}
	}
	.text {
		float: right;
		width: 60%;
		text-align: left;
		p{
			margin: 0;
		}
	}

	&:after{
		clear: both;
	}
}